.nav-btn {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  background: rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  transform: translateY(-50%);
  border-radius: 50%;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

.nav-btn:hover {
  background: rgba(0,0,0,0.6);
}
